<div class="jumbotron">
    <h1 class="display-4 move">גמילות חסדים</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p class="move">גמילות חסדים, מוקד ארצי: 1-800-677-777 או 03-677-7777 או *גמול - 3425*
<br>
משרד ראשי: רחוב בר יוחאי 10 בני ברק 
        <br>
סניף ירושלים: רחוב בית הדפוס 31 טל' 02-5371071
        <br>
סניף תל אביב: רחוב תשרי 54 טל' 03-6777617
<br>        
סניף בת ים: רחוב נפחא 2 פינת קוממיות טל' 03-6777616
<br>
מייל משרד ראשי: info@gmiluthasadim.org.il
<br>
גמילות חסדים המשרד ראשי: רחוב בר יוחאי 10 בני ברק </p>
    
    <p class="lead move">
        <a class="btn btn-primary btn-lg" href="#!home" role="button">צמצם</a>
    </p>
</div>