
<div class="card-group">

  <div class="card">
     <div class="card-body">
      <h5 class="card-title">שעות/ימים</h5>
      <p class="card-text">8:00-9:00</p>
      <p class="card-text">9:00-10:00</p>
         <p class="card-text">10:00-11:00</p>
         <p class="card-text">11:00-12:00</p>
         <p class="card-text">12:00-13:00</p>
         <p class="card-text">13:00-14:00</p>
          <p class="card-text">14:00-15:00</p>
      <p class="card-text">15:00-16:00</p>
         <p class="card-text">16:00-17:00</p>
         <p class="card-text">17:00-18:00</p>
         <p class="card-text">18:00-19:00</p>
         <p class="card-text">19:00-20:00</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">יום ראשון</h5>
        <div class="btn-group-vertical">
             <button type="button" class="btn btn-secondary" ng-model="DizingofCurrCount1" ng-click="addDizingof(1)">סניף דיזנגוף<br> {{DizingofCurrCount1}}/{{DizingofMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="EvenCurrCount1" ng-click="addEven(1)">סניף אבן גבירול<br>  {{EvenCurrCount1}}/{{EvenMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="CharCurrCount1" ng-click="addChar(1)">סניף צ'רניחובסקי<br>  {{CharCurrCount1}}/{{CharMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="KikarCurrCount1" ng-click="addKikar(1)">סניף הדגל- כיכר המדינה<br> {{KikarCurrCount1}}/{{KikarMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="UCurrCount1" ng-click="addU(1)">סניף מגדלי יו<br>  {{UCurrCount1}}/{{UMax}}</button>
</div>
      <p class="card-text"></p>
    </div>
  </div>        
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">יום שני</h5>
        <div class="btn-group-vertical">
             <button type="button" class="btn btn-secondary" ng-model="DizingofCurrCount2" ng-click="addDizingof(2)">סניף דיזנגוף<br> {{DizingofCurrCount2}}/{{DizingofMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="EvenCurrCount2" ng-click="addEven(2)">סניף אבן גבירול<br>  {{EvenCurrCount2}}/{{EvenMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="CharCurrCount2" ng-click="addChar(2)">סניף צ'רניחובסקי<br>  {{CharCurrCount2}}/{{CharMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="KikarCurrCount2" ng-click="addKikar(2)">סניף הדגל- כיכר המדינה<br> {{KikarCurrCount2}}/{{KikarMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="UCurrCount2" ng-click="addU(2)">סניף מגדלי יו<br>  {{UCurrCount2}}/{{UMax}}</button>
</div>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">יום שלישי</h5>
        <div class="btn-group-vertical">
             <button type="button" class="btn btn-secondary" ng-model="DizingofCurrCount3" ng-click="addDizingof(3)">סניף דיזנגוף<br> {{DizingofCurrCount3}}/{{DizingofMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="EvenCurrCount3" ng-click="addEven(3)">סניף אבן גבירול<br>  {{EvenCurrCount3}}/{{EvenMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="CharCurrCount3" ng-click="addChar(3)">סניף צ'רניחובסקי<br>  {{CharCurrCount3}}/{{CharMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="KikarCurrCount3" ng-click="addKikar(3)">סניף הדגל- כיכר המדינה<br> {{KikarCurrCount3}}/{{KikarMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="UCurrCount3" ng-click="addU(3)">סניף מגדלי יו<br>  {{UCurrCount3}}/{{UMax}}</button>
</div>
      <p class="card-text"></p>
    </div>
  </div>
          <div class="card">
    <div class="card-body">
      <h5 class="card-title">יום רביעי</h5>
        <div class="btn-group-vertical">
             <button type="button" class="btn btn-secondary" ng-model="DizingofCurrCount4" ng-click="addDizingof(4)">סניף דיזנגוף<br> {{DizingofCurrCount4}}/{{DizingofMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="EvenCurrCount4" ng-click="addEven(4)">סניף אבן גבירול<br>  {{EvenCurrCount4}}/{{EvenMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="CharCurrCount4" ng-click="addChar(4)">סניף צ'רניחובסקי<br>  {{CharCurrCount4}}/{{CharMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="KikarCurrCount4" ng-click="addKikar(4)">סניף הדגל- כיכר המדינה<br> {{KikarCurrCount4}}/{{KikarMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="UCurrCount4" ng-click="addU(4)">סניף מגדלי יו<br>  {{UCurrCount4}}/{{UMax}}</button>
</div>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">יום חמישי</h5>
        <div class="btn-group-vertical">
             <button type="button" class="btn btn-secondary" ng-model="DizingofCurrCount5" ng-click="addDizingof(5)">סניף דיזנגוף<br> {{DizingofCurrCount5}}/{{DizingofMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="EvenCurrCount5" ng-click="addEven(5)">סניף אבן גבירול<br>  {{EvenCurrCount5}}/{{EvenMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="CharCurrCount5" ng-click="addChar(5)">סניף צ'רניחובסקי<br>  {{CharCurrCount5}}/{{CharMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="KikarCurrCount5" ng-click="addKikar(5)">סניף הדגל- כיכר המדינה<br> {{KikarCurrCount5}}/{{KikarMax}}</button><br>
             <button type="button" class="btn btn-secondary" ng-model="UCurrCount5" ng-click="addU(5)">סניף מגדלי יו<br>  {{UCurrCount5}}/{{UMax}}</button>
</div>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">יום שישי</h5>
        <div class="btn-group-vertical">
             <button type="button" class="btn btn-secondary" >לא כאן<br></button><br>
             <button type="button" class="btn btn-secondary" >לא כאן<br></button><br>
           <button type="button" class="btn btn-secondary" >לא כאן<br></button><br>
             <button type="button" class="btn btn-secondary" >לא כאן<br></button><br>
           <button type="button" class="btn btn-secondary" >לא כאן<br></button><br>
</div>
      <p class="card-text"></p>
    </div>
  </div>
          <div class="card">
    <div class="card-body">
      <h5 class="card-title">יום שבת</h5>
        <div class="btn-group-vertical">
             <button type="button" class="btn btn-secondary" >לא כאן<br></button><br>
             <button type="button" class="btn btn-secondary" >לא כאן<br></button><br>
           <button type="button" class="btn btn-secondary" >לא כאן<br></button><br>
             <button type="button" class="btn btn-secondary" >לא כאן<br></button><br>
           <button type="button" class="btn btn-secondary" >לא כאן<br></button><br>
</div>
      <p class="card-text"></p>
    </div>
  </div>
        
</div>
