<div class="jumbotron">
<h4 class="move" style="color: deepskyblue">
 סלילת הדרך חזרה ליציבות
</h4>
<p class="move">
בעקבות חוסר יכולת לעמוד בתשלום המשכנתא, יעקב, רבקה ושמונת ילדיהם מצאו עצמם על סף הוצאה מדירתם לרחובה של עיר. כדי למנוע ממשפחתו להיהפך להומלסים הוא לקח הלוואות בדרכים מגוונות ובכך הצליח שלא לשקוע למצב קשה של חוסר בית.
מצבו הבריאותי של יעקב מנע ממנו לשרוד בעבודה קבועה ויציבה למרות כל מאמציו.
לאחרונה מצבו הבריאותי של יעקב התייצב והוא הצליח למצוא לעצמו תעסוקה הולמת.
אשתו רבקה, החלה ללמוד אף היא קורסים ע"מ להשתתף בתחזוקה הכלכלית של הבית, אך ההלוואה שנלקחה ליוותה אותם לכל מקום שהלכו- בסופרמרקט, במשרד הרופא כולם דרשו את תשלום החובות. הם הרגישו שאין ביכולתם להתקדם ולשקם את משפחתם למרות מאמציהם האדירים וזה כתוצאה מאותם שנים קשות ושחורות.
כשגמילות חסדים שמעו על מצבם הכואב של המשפחה מיד לקחו חלק בסיוע למשפחה, המשפחה קיבלה הדרכה כלכלית, וארגנו התרמה מיוחדת למען המשפחה.
כשהצ'יק הגיע לידי יעקב, גמילות חסדים הסיעו אותו לבנק ע"מ להחזיר את החוב מידית.
</p>
<p class="move">
גמילות חסדים- תומכים בישראל על ידי סיוע לתושביה.
<br><a href="#!gifts">תרום עכשיו!</a>
</p> 
    
    
<h4 class="move" style="color: deepskyblue">
 הצלת חיים
</h4>
<p class="move">
בעקבות חוסר יכולת לעמוד בתשלום המשכנתא, יעקב, רבקה ושמונת ילדיהם מצאו עצמם על סף הוצאה מדירתם לרחובה של עיר. כדי למנוע ממשפחתו להיהפך להומלסים הוא לקח הלוואות בדרכים מגוונות ובכך הצליח שלא לשקוע למצבמשפחת צ. מאזור ירושלים הינה בעלת 7 ילדים, 

מצבם הזוגי והכלכלי קשה מנשוא מצב זה לא הוסיף למצבה הנפשי של אם המשפחה
שגם כך סבלה מבעיה נפשית כל שהיא. שגרמה לה לדרוש להתגרש מבעלה
ובנוסף היו לה מחשבות אובדניות. אב המשפחה שהבין שהבעיה מתגברת בעקבות המצב הכלכלי הקשה
פנה ליו"ר ארגון "גמילות חסדים" ר' אריה וינגרטן בבכי ובתחנונים וסיפר לו את מצבו ואת אשר על ליבו,
מיד נרתם ר' אריה לעזרתו ונתן לו כדורי הרגעה טבעיים שעלותם יקרה אשר מסייעים למצבה הנפשי של האישה,
לאחר תקופה חזר אב המשפחה ליו"ר "גמילות חסדים" בהתרגשות מיוחדת וסיפר שמצבה של אישתו השתפר פלאים.
"גמילות חסדים" סייעו לשמור על שלימות המשפחה, ולשפר את מצבה הנפשי של אם המשפחה.
</p>
<p class="move">
גמילות חסדים- תומכים בישראל על ידי סיוע לתושביה.
<br><a href="#!gifts">תרום עכשיו!</a>
</p> 
    
    
<h4 class="move" style="color: deepskyblue">
 בכי בחשיכה
</h4>
<p class="move">
בעקבות חוסר יכולת לעמוד בתשלום המשכנתא, יעקב, רבקה ושמונת ילדיהם מצאו עצמם על סף הוצאה מדירתם לרחובה של עיר. כדי למנוע ממשפחתו להיהפך להומלסים הוא לקח הלוואות בדרכים מגוונות ובכך הצליח שלא לשקוע למצבעד שעברו למשכן מעט יותר גדול, הדירה של דינה בת השלושה חדרים היתה מלאה בעשרה ילדים 

כמובן שהמעבר הקל במעט על המשפחה הנצרכת ועל קשייה.
במכולת המקומית הלך החוב ותפח ל10,000 ₪ בניסיון למנוע מילדיה לרעוב. 
אך נדיבות ליבו של בעל החנות היתה מוגבלת ומשלא איפשר לדינה לקנות יותר בהקפה הארונות היו ערומים מכל.
חברת החשמל ניתקו את החשמל לבית המשפחה. צ'יקים חזרו באופן קבוע הודות לחובות הגדולים שצברו.
אחת מבנות המשפחה סובלת מעקמת בגב הנובע מתת תזונה,
עלות הניתוח לתיקון וישור הגב הוא 100,000$. לאן דינה תוכל לפנות במצוקתה? 
גמילות חסדים הינו הארגון היחיד שיכול להרים את רוח המשפחה ולהוציאה מהחובותבהם הם טובעים. 
הסכום המופרז נאסף. סלי אוכל ומתנדבים מגיעים לביתם באופן קבוע, וממשיכים לעזור לדינה ולילדיה. 
הודות לגמילות חסדים, דינה ומשפחתה החלו לראות אור בחייהם.
</p>
<p class="move">
גמילות חסדים- תומכים בישראל על ידי סיוע לתושביה.
<br><a href="#!gifts">תרום עכשיו!</a>
</p> 
</div>